<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Course" type="com.rhit.java20.entity.Course" />
		<typeAlias alias="Teacher" type="com.rhit.java20.entity.Teacher" />
	</typeAliases>
	<mappers>
		<mapper resource="com/rhit/java20/dao/Mapper.xml" />

	</mappers>
</configuration>
